* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url('https://drive.google.com/uc?export=view&id=11w9e1lceHimEOlv7RFmjWKw2jUkun0JM') no-repeat;
    background-size: cover;
}

header {
    justify-content: space-between;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    align-items: center;
    backdrop-filter: blur(3px);
    /*background-color: black;*/
}

    .logo {
        font-size: 2em;
        color: white;
        user-select: none;
    }

    .navigation a {
        position: relative;
        font-size: 1.1em;
        color: white;
        text-decoration: none;
        font-weight: 500;
        margin-left: 40px;
    }

    .navigation a::after{
        content: '';
        position: absolute;
        left: 0;
        bottom: -6px;
        width: 100%;
        height: 3px;
        background-color: white;
        border-radius: 5px;
        transform: scaleX(0);
        transition: transform .5s;
        transform-origin: right;
    }

    .navigation a:hover::after{
        transform: scaleX(1);
        transform-origin: left;
    }

    .wrapper{
        margin: 0 auto;
        position:flex ;
        width: 700px;
        height: 600px;
        background: transparent;
        border: 2px solid rgba(255, 255, 255, .5);
        border-radius:  20px;
        backdrop-filter: blur(10px);
        box-shadow: 0 0 30px rgba(0, 0, 0, .5);
        display: flex;
        

    }
    /* CSS for ticket list */
	.ticket-list {
  		list-style: none;
  		padding: 0;
	}

	.ticket-list li {
  		display: grid;
  		grid-template-columns: 1fr;
  		align-items: center;
  		padding: 10px;
  		border-bottom: 1px solid #ccc;
	}

	.ticket-list li label {
  		display: grid;
  		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  		align-items: center;
  		column-gap: 10px;
	}

/* CSS for train code checkbox */
.ticket-list li input[type="checkbox"] {
  margin-right: 10px;
}

/* Optional: Styling for selected ticket */
.ticket-list li.selected {
  background-color: #f2f2f2;
}

/* Optional: Hover effect on list items */
.ticket-list li:hover {
  background-color: #f8f8f8;
  cursor: pointer;
}
